In [1]:
import acquire
import prepare

# Read Pickles

In [2]:
robot_dictionary = acquire.read_pickles_in_directory('pickle-files')

# Create 2 DataFrames From Dictionary

In [3]:
stats_df = acquire.create_long_format_stats_df(robot_dictionary)
match_history_df = acquire.create_long_format_matchup_history_df(robot_dictionary)

# Merge

In [4]:
df = prepare.merge_matchup_history(stats_df,match_history_df)

# Clean

In [5]:
df = prepare.clean_merged_robot_data(df)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109770 entries, 0 to 109769
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   RobotName  109770 non-null  object
 1   Year       109770 non-null  object
 2   Value      109537 non-null  object
 3   Stats      109770 non-null  object
dtypes: object(4)
memory usage: 4.2+ MB

In [7]:
df

             RobotName    Year Value                 Stats
0       tombstone-2021  Career    35         Total matches
1       tombstone-2021  Career  0.71        Win percentage
2       tombstone-2021  Career    25            Total wins
3       tombstone-2021  Career    10                Losses
4       tombstone-2021  Career    20             Knockouts
...                ...     ...   ...                   ...
109765   riptide-wcvii    2021     0  Judges decision wins
109766   riptide-wcvii    2021     0  Judges decision wins
109767   riptide-wcvii    2021     0  Judges decision wins
109768   riptide-wcvii    2021     0  Judges decision wins
109769   riptide-wcvii    2021     0  Judges decision wins

[109770 rows x 4 columns]